.body{
    width: 1200px;
    height: 750px;
    /*background-color: gray;*/
    position: relative;
    border: 8px ridge  ;
}
.banner{
    width: 1100px;
    height: 200px;
    /*background-color: blue;*/
    position: absolute;
    right: 50px;
    top: 2%;
    border: groove;
    background-image: url("./cervezas\(banner\).jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 500px 200px;
}
.container{
    width: 700px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 3.5%;
    bottom: 2%;
    border: double;
}
.user{
    width: 350px;
    height: 450px;
    /*background-color: black;*/
    position: absolute;
    right: 4.2%;
    bottom: 2%;
    border: double;
}
.navegacion{
    width: 550px;
    height: 70px;
    position: absolute;
    right: 4%;
    bottom: 10%;
    border: double;
    background-color: whitesmoke;
    font-size: 40px;
    background-image: url("./bandera.jpg");
    background-position: center center;
    background-size: 800px 80px;
    
}
h1{
    color: green;
    position: absolute;
    right: 1%;
}

table,tr,th,td{
    border: solid;
    
}
table{
    position: absolute;
    top: 2px;
    left: 2px;
}
.textnavegacion{
    font-size: smaller;
    position: relative;
    background-position: center;
    bottom: 15px;
    left: 80px;
    color: cornsilk;
}
.pagopsebancolombia{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

